<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons *ngIf='bank' slot="start">
      <ion-back-button (click)="bank=false">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Bank and Branch selction page</strong>
    <div *ngIf='!bank'>
      <div class="flex-container">
        <div (click)="bankselected()">AXIS Bank</div>
        <div (click)="bankselected()">HDFC Bank</div>
      </div>
      <div class="flex-container">
        <div (click)="bankselected()">SBI Bank</div>
        <div (click)="bankselected()">HSBC Bank</div>
      </div>
      <div class="flex-container">
        <div (click)="bankselected()">ICICI Bank</div>
        <div (click)="bankselected()">GRAMEEN Bank</div>
      </div>
      <div class="flex-container">
        <div (click)="bankselected()">ANDHRA Bank</div>
        <div (click)="bankselected()">PNB Bank</div>
      </div>
      <div class="flex-container">
        <div (click)="bankselected()">SYNOVUS Bank</div>
        <div (click)="bankselected()">TRUIST Bank</div>
      </div>
      <div class="flex-container">
        <div (click)="bankselected()">CITIZENS Bank</div>
        <div (click)="bankselected()">PNC Bank</div>
      </div>
    </div>
    <div *ngIf='bank'>

        <div class="flex-container" (click)="branchselected()">
          <div class="area">Hitech City</div>
        </div>
        <div class="flex-container" (click)="branchselected()">
          <div class="area">Madhapur</div>
        </div>
        <div class="flex-container" (click)="branchselected()">
          <div class="area">Gachibowli</div>
        </div>
        <div class="flex-container" (click)="branchselected()">
          <div class="area">Kondapur</div>
        </div>
        <div class="flex-container" (click)="branchselected()">
          <div class="area">Begumpet</div>
        </div>
        <div class="flex-container" (click)="branchselected()">
          <div class="area">Hyderbad</div>
        </div>
        <div class="flex-container" (click)="branchselected()">
          <div class="area">Shamshabad</div>
        </div>
        <div class="flex-container" (click)="branchselected()">
          <div class="area">Secunderbad</div>
        </div>

    </div>

  </div>
</ion-content>