<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
        <ion-title style="     text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
        color: #2b8a94;">
            <ion-icon name="card-outline"></ion-icon>
            <span style="vertical-align: top;"> Bank Easy</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="container">
        <div style="       width: 62%;
        margin: 7% 15%;">
            <ion-img src="../../assets/login.png"></ion-img>
        </div>
        <div style="    margin: 40px;">
            <ion-item style="margin-bottom: 20px;">
                <ion-input name="mobile" type="number" placeholder="Phonenumber"> </ion-input>
            </ion-item>
            <ion-item style="margin-bottom: 20px;">
                <ion-input name="pwd" type="password" placeholder="Password"></ion-input>
            </ion-item>
<!--            <ion-button style="--color: #7fb0f9;
            --border-color: #9cc2fc;" fill="outline" (click)="Login()" class="btn">Login</ion-button>-->
            <div class="flex-container" (click)="Login()">
                <div class="area">Login</div>
            </div>
        </div>
    </div>
</ion-content>