<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Bank Easy
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="container">
        <strong>Login</strong>
        <ion-item style="margin-bottom: 20px;">
            <ion-input name="mobile" type="number" placeholder="Mobile Number"> </ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 20px;">
            <ion-input name="pwd" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button (click)="Login()" class="btn btn-primary">Login</ion-button>
    </div>
</ion-content>