<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="goback()">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content overflow-scroll=true>
	<div id="container">
        <div class="flex-container">
          <div class="activeTask" (click)="taskselected()">Active Task</div>
        </div>
        
        <div class="flex-container">
          <div (click)="taskselected()">Task1
            <div  Class="Task-Status">Tokens Accepted per day 40</div>
            <div  Class="Task-Status">Total Tokens 27</div>
            <div  Class="Task-Status">Current Token Status 21</div>            
          </div>
          <div (click)="taskselected()">Task2
            <div  Class="Task-Status">Tokens Accepted per day 25</div>
            <div  Class="Task-Status">Total Tokens 18</div>
            <div  Class="Task-Status">Current Token Status 16</div>
          </div>
        </div>
        <div class="flex-container">
          <div (click)="taskselected()">Task3
            <div  Class="Task-Status">Tokens Accepted per day 12</div>
            <div  Class="Task-Status">Total Tokens 10</div>
            <div  Class="Task-Status">Current Token Status 06</div>
          </div>
          <div (click)="taskselected()">Task4
            <div  Class="Task-Status">Tokens Accepted per day 50</div>
            <div  Class="Task-Status">Total Tokens 35</div>
            <div  Class="Task-Status">Current Token Status 32</div>
          </div>
        </div>
        <div class="flex-container">
          <div (click)="taskselected()">Task5
            <div  Class="Task-Status">Tokens Accepted per day 65</div>
            <div  Class="Task-Status">Total Tokens 60</div>
            <div  Class="Task-Status">Current Token Status 54</div>
          </div>
          <div (click)="taskselected()">Task6
            <div  Class="Task-Status">Tokens Accepted per day 60</div>
            <div  Class="Task-Status">Total Tokens 50</div>
            <div  Class="Task-Status">Current Token Status 46</div>
          </div>
        </div>
        <div class="flex-container">
          <div (click)="taskselected()">Task7
            <div  Class="Task-Status">Tokens Accepted per day 25</div>
            <div  Class="Task-Status">Total Tokens 15</div>
            <div  Class="Task-Status">Current Token Status 11</div>
          </div>
          <div (click)="taskselected()">Task8
            <div  Class="Task-Status">Tokens Accepted per day 40</div>
            <div  Class="Task-Status">Total Tokens 34</div>
            <div  Class="Task-Status">Current Token Status 30</div>
          </div>
        </div>
        <div class="flex-container">
          <div (click)="taskselected()">Task9
            <div  Class="Task-Status">Tokens Accepted per day 25</div>
            <div  Class="Task-Status">Total Tokens 5</div>
            <div  Class="Task-Status">Current Token Status 03</div>
          </div>
          <div (click)="taskselected()">Task10
            <div  Class="Task-Status">Tokens Accepted per day 10</div>
            <div  Class="Task-Status">Total Tokens 0</div>
            <div  Class="Task-Status">Current Token Status 0</div>
          </div>
        </div>
        <div class="flex-container">
          <div (click)="taskselected()">Task11
            <div  Class="Task-Status">Tokens Accepted per day 35</div>
            <div  Class="Task-Status">Total Tokens 15</div>
            <div  Class="Task-Status">Current Token Status 10</div>
          </div>
          <div (click)="taskselected()">Task12
            <div  Class="Task-Status">Tokens Accepted per day 40</div>
            <div  Class="Task-Status">Total Tokens 26</div>
            <div  Class="Task-Status">Current Token Status 17</div>
          </div>
        </div>

        
    </div>
</ion-content>